<?xml version="1.0"?>
<launch>
	<group ns="r1">
		<node pkg="niklasjang_path_planning" type="roomba_pddl_driver" name="roomba_pddl_driver_1">
			<remap from="/result" to="/r1/result"/>
			<remap from="/cmd_vel" to="/r1/cmd_vel"/>
			<remap from="/received" to="/r1/received"/>
		</node>
	</group>

</launch>

