<?xml version="1.0"?>
<launch>
	<group ns="r2">
		<node pkg="niklasjang_path_planning" type="roomba_pddl_driver" name="roomba_pddl_driver_2">
			<remap from="/result" to="/r2/result"/>
			<remap from="/cmd_vel" to="/r2/cmd_vel"/>
			<remap from="/received" to="/r2/received"/>
		</node>
	</group>

</launch>

